n8n-workflow-discovery.json
{
  "name": "byklai — Discovery Estratégico",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "byklai-discovery",
        "responseMode": "onReceived",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "node-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "byklai-discovery"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "105aRA9ISBRLZXDvAo6hb_Ig5hzMtqxwZdOnLhwf1Sm8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Nombre": "={{ $json.body.nombre }}",
            "Empresa": "={{ $json.body.empresa }}",
            "Email": "={{ $json.body.email }}",
            "Teléfono": "={{ $json.body.telefono }}",
            "Sitio Web": "={{ $json.body.sitioWeb || '' }}",
            "Redes Sociales": "={{ $json.body.redesSociales || '' }}",
            "Origen": "={{ $json.body.origenLead }}",
            "Es Decisor": "={{ $json.body.esDecison }}",
            "Tipos de Proyecto": "={{ Array.isArray($json.body.tiposProyecto) ? $json.body.tiposProyecto.join(', ') : '' }}",
            "Objetivo Principal": "={{ $json.body.objetivoPrincipal }}",
            "Estado Web": "={{ $json.body.estadoWeb }}",
            "Usa CRM": "={{ $json.body.usaCRM }}",
            "Tiene Automatizaciones": "={{ $json.body.tieneAutomatizaciones }}",
            "Herramientas": "={{ $json.body.herramientasActuales || '' }}",
            "Alcance Esperado": "={{ $json.body.alcanceEsperado }}",
            "Presupuesto": "={{ $json.body.presupuesto }}",
            "Timeline": "={{ $json.body.timeline }}",
            "Estado Proyecto": "={{ $json.body.estadoProyecto }}",
            "Expectativas": "={{ Array.isArray($json.body.expectativas) ? $json.body.expectativas.join(', ') : '' }}",
            "Diagnóstico Premium": "={{ $json.body.diagnosticoPremium ? 'Sí' : 'No' }}",
            "Info Adicional": "={{ $json.body.informacionAdicional || '' }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "node-002",
      "name": "Google Sheets — Registrar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PENDIENTE_CONECTAR",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "hola@byklai.com",
        "fromName": "Byklai",
        "toEmail": "armando@byklai.com",
        "subject": "=Nuevo Discovery — {{ $('Webhook').item.json.body.nombre }} · {{ $('Webhook').item.json.body.empresa }}",
        "emailType": "html",
        "message": "=<div style='font-family:sans-serif;max-width:620px;color:#0a0a0a'><h2 style='font-size:18px;border-bottom:2px solid #0a0a0a;padding-bottom:10px;margin-bottom:20px'>Nuevo Discovery recibido</h2><table style='width:100%;border-collapse:collapse;font-size:13px'><tr style='background:#f2f1ed'><td style='padding:8px 12px;border:1px solid #ddd;font-weight:600'>Nombre</td><td style='padding:8px 12px;border:1px solid #ddd'>{{ $('Webhook').item.json.body.nombre }}</td></tr><tr><td style='padding:8px 12px;border:1px solid #ddd;font-weight:600'>Empresa</td><td style='padding:8px 12px;border:1px solid #ddd'>{{ $('Webhook').item.json.body.empresa }}</td></tr><tr style='background:#f2f1ed'><td style='padding:8px 12px;border:1px solid #ddd;font-weight:600'>Email</td><td style='padding:8px 12px;border:1px solid #ddd'>{{ $('Webhook').item.json.body.email }}</td></tr><tr><td style='padding:8px 12px;border:1px solid #ddd;font-weight:600'>Teléfono</td><td style='padding:8px 12px;border:1px solid #ddd'>{{ $('Webhook').item.json.body.telefono }}</td></tr><tr style='background:#f2f1ed'><td style='padding:8px 12px;border:1px solid #ddd;font-weight:600'>Origen</td><td style='padding:8px 12px;border:1px solid #ddd'>{{ $('Webhook').item.json.body.origenLead }}</td></tr><tr><td style='padding:8px 12px;border:1px solid #ddd;font-weight:600'>Tipos de Proyecto</td><td style='padding:8px 12px;border:1px solid #ddd'>{{ Array.isArray($('Webhook').item.json.body.tiposProyecto) ? $('Webhook').item.json.body.tiposProyecto.join(', ') : '' }}</td></tr><tr style='background:#f2f1ed'><td style='padding:8px 12px;border:1px solid #ddd;font-weight:600'>Objetivo</td><td style='padding:8px 12px;border:1px solid #ddd'>{{ $('Webhook').item.json.body.objetivoPrincipal }}</td></tr><tr><td style='padding:8px 12px;border:1px solid #ddd;font-weight:600'>Presupuesto</td><td style='padding:8px 12px;border:1px solid #ddd'>{{ $('Webhook').item.json.body.presupuesto }}</td></tr><tr style='background:#f2f1ed'><td style='padding:8px 12px;border:1px solid #ddd;font-weight:600'>Timeline</td><td style='padding:8px 12px;border:1px solid #ddd'>{{ $('Webhook').item.json.body.timeline }}</td></tr><tr><td style='padding:8px 12px;border:1px solid #ddd;font-weight:600'>Diagnóstico Premium</td><td style='padding:8px 12px;border:1px solid #ddd'>{{ $('Webhook').item.json.body.diagnosticoPremium ? 'Sí' : 'No' }}</td></tr></table></div>"
      },
      "id": "node-003",
      "name": "Email — Notificación Armando",
      "type": "n8n-nodes-base.resend",
      "typeVersion": 1,
      "position": [680, 180],
      "credentials": {
        "resendApi": {
          "id": "PENDIENTE_CONECTAR",
          "name": "Resend account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "hola@byklai.com",
        "fromName": "Armando — Byklai",
        "toEmail": "={{ $('Webhook').item.json.body.email }}",
        "subject": "Tu Discovery fue recibido — byklai.com",
        "emailType": "html",
        "message": "=<div style='font-family:sans-serif;max-width:560px;margin:0 auto;padding:40px 20px;color:#0a0a0a'><p style='font-family:monospace;font-size:11px;letter-spacing:0.1em;text-transform:uppercase;color:#888;margin-bottom:32px'>byklai.com</p><h1 style='font-size:24px;font-weight:400;letter-spacing:-0.5px;margin-bottom:20px'>Hola {{ $('Webhook').item.json.body.nombre }},</h1><p style='color:#3a3a3a;line-height:1.7;font-size:15px;font-weight:300;margin-bottom:16px'>Recibimos tu Discovery Estratégico de <strong>{{ $('Webhook').item.json.body.empresa }}</strong>.</p><p style='color:#3a3a3a;line-height:1.7;font-size:15px;font-weight:300;margin-bottom:32px'>Revisaremos tu caso y te contactaremos en las próximas <strong>24–48 horas hábiles</strong> con una evaluación inicial y posibles líneas de solución.</p><div style='padding:20px 24px;background:#f2f1ed;border-radius:8px;margin-bottom:32px'><p style='font-family:monospace;font-size:11px;text-transform:uppercase;letter-spacing:0.08em;color:#888;margin-bottom:8px'>mientras tanto</p><p style='font-size:14px;color:#3a3a3a;line-height:1.6;margin:0'>Explora nuestros casos y servicios en <a href='https://byklai.com' style='color:#0a0a0a;font-weight:600'>byklai.com</a></p></div><div style='border-top:1px solid #e0e0e0;padding-top:24px'><strong style='display:block;font-size:13px;margin-bottom:2px'>Armando</strong><span style='font-family:monospace;font-size:11px;color:#888'>byklai.com — sistemas automatizados · Mérida, México</span></div></div>"
      },
      "id": "node-004",
      "name": "Email — Confirmación Lead",
      "type": "n8n-nodes-base.resend",
      "typeVersion": 1,
      "position": [680, 420],
      "credentials": {
        "resendApi": {
          "id": "PENDIENTE_CONECTAR",
          "name": "Resend account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets — Registrar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets — Registrar": {
      "main": [
        [
          {
            "node": "Email — Notificación Armando",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email — Confirmación Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
